{% extends 'layouts/base.html.twig' %}

{% block title %}Главная{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center pt-5">
                <h1>Главная страница!</h1>
            </div>
        </div>
    </div>
{% endblock %}